@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Custom Properties*/

:root {
    --leading: 2em;
}

html{
  height: 100%;
  background-image: linear-gradient(to bottom, purple, black);
  overflow-y: auto;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

body {
  height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-bottom: 0em;
    padding-bottom: 6.7em;
}

.hero-bg {
    /*background-image: linear-gradient(to bottom, purple, black);*/
    color: white;
    text-align: center;
    padding-bottom: 0em;
}

header{
    padding: 0 0;
}


section {
    margin: 0 0;
}

h1 {
    font-size: 4rem;
    margin: 0em 0 0.5em;
    font-family: 'Great Vibes', cursive;
}

h1 span {
    text-transform:none;
    display: block;
    font-size: 5rem;
    position: relative;
    z-index: 1;
}


.hero-bg p {
    font-weight: bold;
    margin: 0 1em 3em;
}

p {
    line-height:  var(--leading);
}

@media (min-width: 730px) {

    section {
        margin: 0 0 0 0;
    }

    .hero-bg selection{
        width: 100%
    }
}

@media (min-width: 930px) {

    .hero-bg{
        padding-bottom: 4em;
    }

    .hero-bg p {
        font-weight: bold;
        margin: 0 0 0;
    }

    .hero-bg section {
        width: 100%;
    }


    .top {
        animation: fadeIn 2s forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-2em);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
        
    }

}


/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #f38fe2;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

span{
  font-size: 2rem;
  color: white;
  text-align: center;
}

#logoutbox a{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #f38fe2;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  box-sizing: content-box;
}

#logoutbox {
  width: fit-content;
}

#logoutbox a:hover{
  background-color: #460d3a;
}

#logoutbox a:active{
  background-color: #460d3a;
  transform: translateY(4px);
}

.text-container{
  display: inline-grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: auto auto 120px;
}