@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.ranking h1 {
    margin-bottom: 2%;
}

#user{
     display: grid;
     grid-template-columns: 10% 40% 50%;
     
}

#user p{
    font-size: 1rem;
    text-align: left;
    justify-self: left;
    align-self: center;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    color: black;
}

#user p:first-child{
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0;
    color: black;
}

#user p:nth-child(3){
    border-left: 1px solid black;
    padding-left: 3%;
}

.card-single:nth-child(2){
    justify-self: center;
    margin: 10%;
    padding: 1%;
    background-color: aliceblue;
    width: 80%;
    height: auto;
    border: 1px solid aliceblue;
    border-radius: 1rem;
}

@media (max-width: 750px) {

    #user p {
        font-size: 0.7rem;
    }

    #user p:first-child{
        font-size: 0.7rem;
    }
}

@media (max-width: 450px) {
    
    #user p {
        font-size: 0.4rem;
    }

    #user p:first-child{
        font-size: 0.4rem;
    }
}